body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    font-weight: lighter;
    opacity: .5;
    color: white;
}

video {
    width: 100vw;
    height: 100vh;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.camView {
    cursor: pointer;
}

.highlighter p {
    padding: 5px;
    z-index: 2;
    font-size: 30px;
    color: white;
}

.highlighter {
    border: 2px solid white;
    box-shadow: 0 0 50px 0 white;
    z-index: 1;
    position: absolute;
    display: grid;
    place-content: center;
}

.background {
    width: 100%;
    position: absolute;
    z-index: -1000;
    left: 0;
    top: 0;
    background: white;
}